.nav-main {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Đảm bảo thanh navbar luôn ở trên cùng */
}
.content-main {
    padding-top: 84px;
}
.right-bar-home {
}
    .right-bar-home nav {
        width: 100%;
    }
.home-container {
    height: 670px;
    width:100%;
}
.main-navbar-right{
    width:30%;
    justify-content: flex-end;
}
.navbar-page{
    background-color: white;
}
.modal-add-ktdm span{
    width: 165px;
}
.dx-datagrid-rowsview {
    border-top: 3px solid #ddd;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
}
.dx-datagrid-headers{
    border-width: 5px;
}