@{ 
    ViewData["Title"] = "Home Page";
}
@{
    Html.RenderPartial("../Home/Header");
}
<div class="text-center">
    <div class="home-container">
        @Html.Partial("../Home/SideBar")
        <div class="right-bar-home content">
            <h3>Welcome to SmartPro</h3>
        </div>
    </div>
</div>
