@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="sidebar" id="main-sidebar">
    <a id="10" asp-controller="Home" asp-action="SellProduct">Bán hàng</a>
    <a id="9" asp-controller="Home" asp-action="BuyProduct">Mua hàng</a>
    <a id="3" asp-controller="Home" asp-action="KTTK">Tồn kho</a>
    <a id="4" asp-controller="Home" asp-action="KTLCTG">KTLCTG</a>
    <a id="5" asp-controller="Home" asp-action="KTDTPN">KTDTPN</a>
    <a id="6" asp-controller="Home" asp-action="KTDM">Danh mục</a>
    <a id="7" asp-controller="Home" asp-action="KTCN">Công nợ</a>
    <a id="8" asp-controller="Home" asp-action="KTSC">KTSC</a>
    <a id="11" asp-controller="Home" asp-action="ImportProduct">Nhập hàng</a>
</div>
<script>
    function active() {
        var activeId = @ViewData["activeId"]
        document.getElementById(activeId).classList.add("active");
    }
    active();
</script>