@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="buy-edit">
    <div class="header-buy-edit d-flex justify-content-between">
        <div>Sửa đơn mua</div>
        <div>
            <button type="button" class="btn-close" onclick="closeEdit()"></button>
        </div>
    </div>
    <form>
        <div class="body-buy-edit">
            <div class="row t-s-12">
                <div class="col-2">
                    <div class="mb-3 text-start">
                        <label for="makh" class="col-form-label">Mã khách hàng:</label>
                        <input type="text" class="form-control height-30" id="makh" readonly>
                    </div>
                </div>
                <div class="col-5">
                    <div class="mb-3 text-start">
                        <label for="tenkh" class="col-form-label">Tên khách hàng:</label>
                        <input type="text" class="form-control height-30" id="tenkh" readonly>
                    </div>
                </div>
                <div class="col-5">
                    <div class="mb-3 text-start">
                        <label for="diachi" class="col-form-label">Địa chỉ:</label>
                        <input type="text" class="form-control height-30" id="diachi" readonly>
                    </div>
                </div>
            </div>
            <div class="list-dm">
                @*List product *@
                <table id="edit-dm" class="table-text">
                    <tr class="table-menu" id="tr-1">
                        <td class="t-center width-20">#</td>
                        <td class="width-200">Mã Danh Mục</td>
                        <td>Tên Danh Mục</td>
                        <td class="width-50">Đơn vị</td>
                        <td class="width-120">Đơn giá</td>
                        <td class="width-70">Số lượng</td>
                        <td class="width-90">Chiết khấu (%)</td>
                        <td class="width-70">Thuế (%)</td>
                        <td class="width-150">Thành tiền</td>
                        <td class="width-70">Hành động</td>
                    </tr>
                    <tr id="e1">
                        <td class="t-center td-index">1</td>
                        <td>
                            <input type="text"
                                   class="form-control input-sugg"
                                   id="edit-madm-1"
                                   autofocus="autofocus"
                                   autocomplete="off"
                                   onkeyup="SearchNow('edit-sugg-1','edit-madm-1','edit-sugg-1')" />
                            <div class="table-container">
                                <table id="edit-sugg-1" class="sugg-container d-none">
                                    <tr id="tr-1">
                                        <td class="width-120">Mã danh mục</td>
                                        <td class="width-250">Tên danh mục</td>
                                        <td class="width-90">Số lượng tồn</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="edit-tendm-1" readonly />
                            <input type="text" class="form-control" id="edit-matk-1" hidden readonly />
                        </td>
                        <td><input type="text" class="form-control" id="edit-donvi-1" readonly /></td>
                        <td><input type="number" class="form-control" id="edit-dongia-1" min="0" onchange="tienEdit(1)" /></td>
                        <td><input type="number" class="form-control" id="edit-soluong-1" min="1" onchange="tienEdit(1)" /></td>
                        <td><input type="number" class="form-control" id="edit-ck-1" min="0" max="100" onchange="tienEdit(1)" /></td>
                        <td><input type="number" class="form-control" id="edit-thue-1" min="0" max="100" onchange="tienEdit(1)" /></td>
                        <td><input type="number" class="form-control" id="edit-thanhtien-1" readonly /></td>
                        <td></td>
                        @* <td class="t-center"><a class="dx-link dx-link-delete dx-icon-trash dx-link-icon table-icon"></a></td> *@
                    </tr>
                </table>
                <div class="buttons d-flex justify-content-between mar-15">
                    <button class="btn btn-success t-s-12 height-30" id="addDm" onclick="addEditDm()" type="button">Thêm danh mục</button>
                    <button class="btn btn-primary t-s-12 height-30" id="saveEdit" type="submit">Lưu đơn mua</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    let ecount = 1;
    let eindex = 1;
    var eexist = [];
    eexist.push(1);
    var editItems = []

    var madm = [
        {
            Madm: "",
            Tendm: "",
            TonT: ""
        }
    ];
    $.ajax({
        url: '@Url.Action("Get", "Ktdms")',
        type: 'GET',
        success: function (result) {
            if (result.data.length > 0) {
                madm = result.data;
                for (var i = 0; i < madm.length; i++) {
                    const list = document.getElementById("edit-sugg-" + count);
                    list.insertAdjacentHTML('beforeend', `
                                                    <tr class="tr-sugg" onclick="moreItem(this.closest('table').closest('tr').id,'${encodeURIComponent(JSON.stringify(madm[i]))}')"><td>${madm[i].Madm}</td><td>${madm[i].Tendm}</td><td>${madm[i].TonT}</td></tr>
                                    `);
                }
            }
        }
    });

    function tienEdit(rowIndex) {
        var sl = $(`#edit-soluong-${rowIndex}`)[0].value;
        var dgia = $(`#edit-dongia-${rowIndex}`)[0].value;
        var ck = $(`#edit-ck-${rowIndex}`)[0].value;
        var thue = $(`#edit-thue-${rowIndex}`)[0].value;
        if (madm.length > rowIndex) {
            editItems[rowIndex - 1].Soluong = parseInt(sl);
            editItems[rowIndex - 1].Dgban = parseInt(dgia);
            editItems[rowIndex - 1].PtChietkhau = parseInt(ck);
            editItems[rowIndex - 1].PtThue = parseInt(thue);
            var tr = document.getElementById("e" + rowIndex);
            // Gắn giá trị vào các thẻ <td>
            var thanhtien = editItems[rowIndex - 1].Soluong * (editItems[rowIndex - 1].Dgban * (1 - editItems[rowIndex - 1].PtChietkhau / 100)) * (1 + editItems[rowIndex - 1].PtThue / 100);
            tr.querySelector('#edit-thanhtien-' + rowIndex).value = parseFloat(thanhtien).toFixed(0);
        }
        console.log(editItems);
        loadMoney();
    }

    function addEditDm() {
        if (editItems.length == eindex) {
            var table = document.getElementById("edit-dm");
            ecount++;
            eindex++;
            table.insertAdjacentHTML('beforeend', `
                                                        <tr id="e${ecount}">
                                                                <td class="t-center td-index">${eindex}</td>
                                                                <td>
                                                                    <input type="text"
                                                                           class="form-control input-sugg"
                                                                           id="edit-madm-${ecount}"
                                                                           autofocus="autofocus"
                                                                           onkeyup="SearchNow('edit-sugg-${ecount}','edit-madm-${ecount}','edit-sugg-${ecount}')" />
                                                                    <div class="table-container">
                                                                        <table id="edit-sugg-${ecount}" class="sugg-container d-none">
                                                                            <tr id="tr-1">
                                                                                <td class="width-120">Mã danh mục</td>
                                                                                <td class="width-250">Tên danh mục</td>
                                                                                <td class="width-90">Số lượng tồn</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </td>

                                                                <td><input type="text" class="form-control" id="edit-tendm-${ecount}" readonly />
                                                                <input type="text" class="form-control" id="edit-matk-${ecount}" hidden readonly /></td>
                                                                <td><input type="text" class="form-control" id="edit-donvi-${ecount}" readonly /></td>
                                                                <td><input type="number" class="form-control" id="edit-dongia-${ecount}" min="0" onchange="tienEdit(${ecount})" /></td>
                                                                <td><input type="number" class="form-control" id="edit-soluong-${ecount}" min="1" onchange="tienEdit(${ecount})" /></td>
                                                                <td><input type="number" class="form-control" id="edit-ck-${ecount}" min="0" max="100" onchange="tienEdit(${ecount})" /></td>
                                                                <td><input type="number" class="form-control" id="edit-thue-${ecount}" min="0" max="100" onchange="tienEdit(${ecount})" /></td>
                                                                <td><input type="number" class="form-control" id="edit-thanhtien-${ecount}" readonly/></td>
                                                                <td class="t-center"><a onClick="lessItem('e${ecount}')" class="dx-link dx-link-delete dx-icon-trash dx-link-icon table-icon"></a></td>
                                                            </tr>
                        `);
            $.ajax({
                url: '@Url.Action("Get", "Ktdms")',
                type: 'GET',
                success: function (result) {
                    if (result.data.length > 0) {
                        madm = result.data;
                        for (var i = 0; i < madm.length; i++) {
                            const list = document.getElementById("edit-sugg-" + ecount);
                            list.insertAdjacentHTML('beforeend', `
                                                                    <tr class="tr-sugg" onclick="moreItem(this.closest('table').closest('tr').id,'${encodeURIComponent(JSON.stringify(madm[i]))}')"><td>${madm[i].Madm}</td><td>${madm[i].Tendm}</td><td>${madm[i].TonT}</td></tr>
                                                    `);
                        }
                    }
                }
            });
            eexist.push(ecount);
        }
    }
    function moreItem(id, item) {
        hide_sugg("edit-sugg-" + id[1]);
        var addItem = JSON.parse(decodeURIComponent(item));
        var madmDTO = {
            Matk: addItem.Matk,
            Madm: addItem.Madm,
            Tendm: addItem.Tendm,
            Donvi: addItem.Donvi,
            Soluong: 1,
            Dgban: 0,
            TonTDv1: addItem.TonTDv1,
            PtChietkhau: 0,
            PtThue: 0,
            trId: id,
        }
        var index = parseInt(id.slice(1))
        if (index > editItems.length) {
            editItems.push(madmDTO)
        }
        else {
            editItems[index - 1] = madmDTO
        }
        var numId = id[1];
        console.log(editItems)
        // Lấy thẻ <tr> có id là "tr1"
        var tr = document.getElementById(id);
        // Gắn giá trị vào các thẻ <td>
        tr.querySelector('#edit-matk-' + id[1]).value = JSON.parse(decodeURIComponent(item)).Matk;
        tr.querySelector('#edit-madm-' + id[1]).value = JSON.parse(decodeURIComponent(item)).Madm;
        tr.querySelector('#edit-tendm-' + id[1]).value = JSON.parse(decodeURIComponent(item)).Tendm;
        tr.querySelector('#edit-donvi-' + id[1]).value = JSON.parse(decodeURIComponent(item)).Donvi;
        tr.querySelector('#edit-dongia-' + id[1]).value = 0;
        tr.querySelector('#edit-soluong-' + id[1]).value = 1;
        tr.querySelector('#edit-thanhtien-' + id[1]).value = 0;
        tr.querySelector('#edit-ck-' + id[1]).value = 0;
        tr.querySelector('#edit-thue-' + id[1]).value = 0;
        loadMoney();
    }
    function loadMoney() {
        var tongtien = 0;
        for (let i = 0; i < editItems.length; i++) {
            var numId = eexist[i];
            tongtien = tongtien + parseInt(document.getElementById("edit-thanhtien-" + numId).value);
        }
        console.log("tongtienne:" + tongtien);
        //document.getElementById("tongtien").textContent = tongtien;
    }
    function lessItem(id) {
        if (eindex > 1) {
            var tr = document.getElementById(id);
            for (let i = 0; i < eexist.length; i++) {
                if (eexist[i] == id[1]) {
                    eexist.splice(i, 1);
                }
            }
            for (let i = 0; i < editItems.length; i++) {
                if (editItems[i].trId == id) {
                    editItems.splice(i, 1);
                    console.log("xoa:" + editItems);
                }
            }
            tr.remove();
            eindex--;
            var idList = [];
            for (let i = 1; i <= index; i++) {
                idList.push(i);
            }
            console.log(idList);
            var tdList = document.getElementsByClassName("td-index");
            for (let i = 0; i < tdList.length; i++) {
                tdList[i].textContent = idList[i];
            }
            loadMoney();
        }
    }
</script>