@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Html.RenderPartial("../Home/Header");
}
<div class="text-center">
    <div class="home-container">
        @Html.Partial("../Home/SideBar")
        <div class="right-bar-home content">
            @* Navbar Here*@
            @*Modal*@
            @*Data Here*@
            
            @(
                Html.DevExtreme().DataGrid<WebAccountant.Models.PhieuBanHangDTO>()
                    .ID("gridContainer")
                    .DataSource(ds => ds.Mvc()
                    .Controller("Ktscs")
                    .LoadAction("GetALLDSPhieuBanHangTra")
                    .Key("Soctu")
                    )
                    .RemoteOperations(true)
                    .FocusedRowEnabled(true)
                    .Columns(columns =>
                    {

                    columns.AddFor(m => m.NgayCtu).Caption("Ngày chứng từ").DataType(GridColumnDataType.Date).Fixed(true).Format("dd/MM/yyyy");

                    columns.AddFor(m => m.Soctu).Caption("Số chứng từ").Fixed(true);

                    columns.AddFor(m => m.HTThanhToan).Caption("Hình thức thanh toán").Width(160); ;

                    columns.AddFor(m => m.ThanhTien).Caption("Thành tiền").Format("0,###");

                    columns.AddFor(m => m.ckPhanTram).Caption("Chiết khấu phần trăme").Format("0,###");

                    columns.AddFor(m => m.CkThanhTien).Caption("Chiết khấu thành tiền");

                    columns.AddFor(m => m.TongTien).Caption("Tổng tiền").Format("0,###");

                    columns.AddFor(m => m.KhTraTien).Caption("Khách hàng trả tiền").Format("0,###");

                    columns.AddFor(m => m.MaKh).Caption("Mã khách hàng");

                    columns.AddFor(m => m.TenKh).Caption("Tên khách hàng").Width(300);

                    columns.AddFor(m => m.MsThue).Caption("Mã số thuế");

                    columns.AddFor(m => m.Diachi).Caption("Địa chỉ").Width(400);

                    columns.AddFor(m => m.GhiChu).Caption("Ghi chú");

                    columns.AddFor(m => m.NhanVienBan).Caption("Nhân viên bán");
                    }
                    )
                .ShowColumnHeaders(true)
                .ColumnAutoWidth(true).AllowColumnResizing(true).ColumnResizingMode(ColumnResizingMode.Widget).FilterRow(ft => ft.Visible(true))
                .RowAlternationEnabled(true).WordWrapEnabled(true)
                .ShowBorders(true).Paging(paging => paging.PageSize(10))
                .Height(800)
                .Pager(pager =>
                {
                    pager.Visible(true);
                    pager.DisplayMode(GridPagerDisplayMode.Compact);
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new JS("[10, 15, 25, 40]"));
                    pager.ShowInfo(true);
                    pager.ShowNavigationButtons(true);
                }))
              @*  .Summary(s => s
                .RecalculateWhileEditing(true)
                .TotalItems(items =>
                {
                    items.AddFor(m => m.ThanhTien)
                    .SummaryType(SummaryType.Sum)
                    .DisplayFormat("{0}")
                    .ValueFormat("0,###");

                    items.AddFor(m => m.TongTien)
                    .SummaryType(SummaryType.Sum)
                    .DisplayFormat("{0}")
                    .ValueFormat("0,###");

                    items.AddFor(m => m.KhTraTien)
                    .SummaryType(SummaryType.Sum)
                    .DisplayFormat("{0}")
                    .ValueFormat("0,###");

                })
            ))*@
            <div class="footer-data d-flex justify-content-start">
                @* <button class="btn btn-primary width-100" data-bs-toggle="modal" id="btnAdd" data-bs-target="#exampleModal">Thêm</button>
                <button class="btn btn-primary width-100" type="button" onclick="onEdit()">Sửa</button>
                <button class="btn btn-primary width-100" type="button" onclick="onDelete()">Xóa</button> *@
                <div class="d-flex ms-auto" style="right : 0">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#settingModal">
                        <img src="~/img/setting.png" style="width: 20px; height: auto" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
