<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebAccountant</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@22_2/dist/dx-quill.min.js"></script> *@

    @* Uncomment to use the Gantt control *@
    @*<link href="~/css/devextreme/dx-gantt.css" rel="stylesheet" />*@

    @* Uncomment to use the Diagram control *@
    @*<link href="~/css/devextreme/dx-diagram.css" rel="stylesheet" />*@

    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />

    @* Predefined themes: https://js.devexpress.com/DevExtreme/Guide/Themes_and_Styles/Predefined_Themes/ *@
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    @* Uncomment to use the Gantt control *@
    @*<script src="~/js/devextreme/dx-gantt.js"></script>*@

    @* Uncomment to use the Diagram control *@
    @*<script src="~/js/devextreme/dx-diagram.js"></script>*@
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>
    <link rel="stylesheet" href="~/css/homeIndex.css" />
    <link rel="stylesheet" href="~/css/sidebarW3.css" />
    @* Uncomment to use Globalize for localization *@
    @* Docs: https://docs.devexpress.com/AspNetCore/400577#globalize *@
    @*<script src="~/js/devextreme/cldr.js"></script>*@
    @*<script src="~/js/devextreme/cldr/event.js"></script>*@
    @*<script src="~/js/devextreme/cldr/supplemental.js"></script>*@
    @*<script src="~/js/devextreme/cldr/unresolved.js"></script>*@
    @*<script src="~/js/devextreme/globalize.js"></script>*@
    @*<script src="~/js/devextreme/globalize/message.js"></script>*@
    @*<script src="~/js/devextreme/globalize/number.js"></script>*@
    @*<script src="~/js/devextreme/globalize/currency.js"></script>*@
    @*<script src="~/js/devextreme/globalize/date.js"></script>*@

    @* Uncomment to enable client-side export *@
    @*<script src="~/js/devextreme/jszip.js"></script>*@

    <script src="~/js/devextreme/dx.all.js"></script>

    @* Uncomment to provide geo-data for the VectorMap control *@
    @* Docs: https://js.devexpress.com/DevExtreme/Guide/Widgets/VectorMap/Providing_Data/#Data_for_Areas *@
    @*<script src="~/js/devextreme/vectormap-data/world.js"></script>*@

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
</head>

<body>
    <header style="background-color:#235347">
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light" data-bs-theme="light">
            <div class="container-fluid">
                <img width="240" height="68" src="https://phanmemnangdong.com/wp-content/uploads/2022/04/Smart-pro-13-300x83.png" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                    </ul>
                    <div class="d-flex main-navbar-right">
                        <div class="p-2 ">Username</div>
                        <div class="buttons">
                            <button class="btn btn-secondary" type="submit">Đăng xuất</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div>
      
        <main role="main">
            <div class="home-container">
                <div class="sidebar">
                    <a id="1" asp-controller="Home" asp-action="Index">Trang chủ</a>
                    <a id="2" href="#">Tổng quan</a>
                    <a id="3" asp-controller="Home" asp-action="KTTK">KTTK</a>
                    <a id="4" asp-controller="Home" asp-action="KTLCTG">KTLCTG</a>
                    <a id="5" asp-controller="Home" asp-action="KTDTPN">KTDTPN</a>
                    <a id="6" asp-controller="Home" asp-action="KTDM">KTDM</a>
                    <a id="7" asp-controller="Home" asp-action="KTCN">KTCN</a>
                    <a id="8" asp-controller="Home" asp-action="KTSC">KTSC</a>
                </div>
                <div class="right-bar-home content">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function active(){
            var activeId = @ViewData["activeId"]
            document.getElementById(activeId).classList.add("active");
        }
        active();
    </script>
</body>
</html>