@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebAccountant.ModelsBase.Ktdm
@{
    Html.RenderPartial("../Home/Header");
}
<div class="text-center">
    <div class="home-container">
        @Html.Partial("../Home/SideBar")
        <div class="right-bar-home content">
            @*Navbar Here*@
            @* <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Danh sách</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Đơn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav> *@

            @*Modal*@
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="color: #119583;" id="exampleModalLabel">Thêm Hàng Hóa</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="resetModal()" aria-label="Đóng"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" asp-controller="Ktdms" asp-action="Post">
                                <div class="row">
                                    <div class="col-md-4 text-start">
                                        <label for="input-madm" class="col-form-label">Mã hàng hóa:</label>
                                        <input type="text" class="form-control input-sugg"
                                               id="input-madm"
                                               autofocus="autofocus"
                                               autocomplete="off"
                                               placeholder="Nhập mặt hàng(nếu có)..."
                                               onkeyup="SearchNow('list-madm-sugg','input-madm','list-madm-sugg')" />
                                               <input id="edit-madm" type="text" hidden/>
                                        <div class="table-container">
                                            <table id="list-madm-sugg" class="sugg-container d-none">
                                                <tr id="tr-1">
                                                    <td class="width-150">Mã khách hàng</td>
                                                    <td class="width-500">Tên khách hàng</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-8 text-start">
                                        <label for="tendm" class="col-form-label">Tên hàng hóa:</label>
                                        <input type="text" class="form-control" asp-for="Tendm" id="tendm">
                                        @* <span asp-validation-for="Tendm" class="text-danger"></span> *@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 text-start">
                                        <label for="mahh" class="col-form-label">Mã tài khoản:</label>
                                        <input type="text" class="form-control" asp-for="Matk" id="mahh">
                                        @* <span asp-validation-for="Matk" class="text-danger"></span> *@
                                    </div>
                                    <div class="col-md-4 text-start">
                                        <label for="t-dgb" class="col-form-label">Đơn giá bán:</label>
                                        <input type="text" class="form-control" id="t-dgb" onchange="formatAll()" />
                                        <input type="number" min="0" class="form-control" asp-for="Madm" id="dgb" hidden/>
                                        @* <span asp-validation-for="Madm" class="text-danger"></span> *@
                                    </div>
                                    <div class="col-md-4 text-start">
                                        <label for="t-dgx" class="col-form-label">Đơn giá xuất:</label>
                                        <input type="text" class="form-control" id="t-dgx" onchange="formatAll()">
                                        <input type="number" min="0" class="form-control" id="dgx" hidden/>
                                        @* <span asp-validation-for="Tendm" class="text-danger"></span> *@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 text-start">
                                        <label for="dvt" class="col-form-label">Đơn vị tính:</label>
                                        <input type="text" class="form-control" asp-for="Donvi" id="dvt">
                                        @* <span asp-validation-for="Donvi" class="text-danger"></span> *@
                                    </div>
                                    <div class="col-md-4 text-start">
                                        <label for="t-tdk-gt" class="col-form-label">Tồn đầu kì - Giá trị:</label>
                                        <input type="text" class="form-control" id="t-tdk-gt" onchange="formatAll()">
                                        <input type="number" min="0" class="form-control" id="tdk-gt" hidden>
                                        @* <span asp-validation-for="Donvi" class="text-danger"></span> *@
                                        </div>
                                    <div class="col-md-4 text-start">
                                        <label for="t-tdk-sl" class="col-form-label">Tồn đầu kỳ - Số lượng:</label>
                                        <input type="text" class="form-control" id="t-tdk-sl" onchange="formatAll()">
                                        <input type="number" min="0" class="form-control" id="tdk-sl" hidden>
                                        @* <span asp-validation-for="Tendm" class="text-danger"></span> *@
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" onclick="resetModal()" id="btnClose" data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary" onclick="submitModal()">Nộp</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @*Data Here*@
            @(
                Html.DevExtreme().DataGrid<WebAccountant.ModelsBase.Ktdm>()
                        .DataSource(ds => ds.Mvc()
                        .Controller("Ktdms")
                        .LoadAction("Get")
                        .UpdateAction("Put")
                        .DeleteAction("Delete")
                        .Key("Madm", "Matk")

                        )
                        .RemoteOperations(true)
                        .FocusedRowEnabled(true)
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Matk);

                            columns.AddFor(m => m.Madm).Caption("Mã danh mục").Fixed(true);

                            columns.AddFor(m => m.Tendm).Caption("Tên danh mục").Fixed(true).Width(400);

                            columns.AddFor(m => m.Manhom);

                            columns.AddFor(m => m.Tennhom);

                            columns.AddFor(m => m.Kyhieu).Caption("Ký hiệu");

                            columns.AddFor(m => m.Donvi).Caption("Đơn vị");

                            columns.AddFor(m => m.Hansudung);

                            columns.AddFor(m => m.Nhacungcap);

                            columns.AddFor(m => m.Nhasanxuat);

                            columns.AddFor(m => m.Ptchietkhau).Caption("Phần trăm chiết khấu");

                            columns.AddFor(m => m.Thuesuat);

                            columns.AddFor(m => m.Dgxuat).Caption("Đơn giá xuất").Format("0,###");

                            columns.AddFor(m => m.Dgban).Caption("Đơn giá bán").Format("0,###");

                            columns.AddFor(m => m.Dgnhap).Caption("Đơn giá nhập").Format("0,###");

                            columns.AddFor(m => m.TkGiavon);

                            columns.AddFor(m => m.TkTralai);

                            columns.AddFor(m => m.GioihantonMax);

                            columns.AddFor(m => m.IdUpdate);

                            columns.AddFor(m => m.Ghichu);

                            columns.AddFor(m => m.Quycach);

                            columns.AddFor(m => m.Songaysudung);
                        }).ColumnAutoWidth(true).AllowColumnResizing(true).ColumnResizingMode(ColumnResizingMode.Widget).FilterRow(ft => ft.Visible(true))
                        .ShowBorders(true)
                        .RowAlternationEnabled(true)
                        .WordWrapEnabled(true)
                        .Editing(e =>
                        {
                            e.Mode(GridEditMode.Batch)
                            .AllowUpdating(true).UseIcons(true)
                            .AllowDeleting(true);
                            e.SelectTextOnEditStart(true);
                            e.StartEditAction(GridStartEditAction.DblClick);
                        })
                        .Paging(paging => paging.PageSize(15))
                        .Pager(pager =>
                        {
                            pager.Visible(true);
                            pager.DisplayMode(GridPagerDisplayMode.Compact);
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new JS("[10, 15, 25, 40]"));
                            pager.ShowInfo(true);
                            pager.ShowNavigationButtons(true);
                        })

                        .OnRowInserted("onRowInserted")
                        .OnContextMenuPreparing("OpenMenu").ID("grid")
                        .Summary(s => s
                        .RecalculateWhileEditing(true))
                    .Summary(s => s
                        .RecalculateWhileEditing(true)
                        .TotalItems(items =>{
                            items.AddFor(m => m.Dgnhap)
                            .SummaryType(SummaryType.Sum)
                            .ValueFormat("0,###");

                            items.AddFor(m => m.Dgban)
                            .SummaryType(SummaryType.Sum)
                            .ValueFormat("0,###");

                            items.AddFor(m => m.Dgxuat)
                            .SummaryType(SummaryType.Sum)
                            .ValueFormat("0,###");
                            
                        }
                        )
                    )
                )
            <div class="footer-data d-flex justify-content-start">
                <button class="btn btn-primary width-100" data-bs-toggle="modal" id="btnAdd" data-bs-target="#exampleModal">Thêm</button>
                @* <button class="btn btn-primary width-100" type="button" id="btnEdit" onclick="onEdit()">Sửa</button> *@
                <button class="btn btn-primary width-100" type="button" onclick="onDelete()">Xóa</button>
            </div>
        </div>
    </div>
</div>

<script>
    function SearchNow(idSugg, idInput, idUl) {
        document.getElementById(idSugg).classList.remove("d-none");
        var input, filter, a, i, txtValue;
        input = document.getElementById(idInput);
        filter = input.value.toUpperCase();
        var table = document.getElementById(idSugg);
        var tr = table.getElementsByTagName('tr');
        for (i = 1; i < tr.length; i++) {
            tdMa = tr[i].getElementsByTagName("td")[0];
            maValue = tdMa.textContent || tdMa.innerText;
            tdTen = tr[i].getElementsByTagName("td")[1];
            tenValue = tdTen.textContent || tdTen.innerText;
            if (maValue.toUpperCase().indexOf(filter) > -1 || tenValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
        }
    }
    var madm = [
        {
            Madm: "",
            Tendm: "",
            TonT: ""
        }
    ];
    $.ajax({
        url: '@Url.Action("Get", "Ktdms")',
        type: 'GET',
        success: function (result) {
            if (result.data.length > 0) {
                madm = result.data;
                for (var i = 0; i < madm.length; i++) {
                    const list = document.getElementById("list-madm-sugg");
                    list.insertAdjacentHTML('beforeend', `
                                                    <tr class="tr-sugg" onclick="madmChooseItem('${encodeURIComponent(JSON.stringify(madm[i]))}')"><td>${madm[i].Madm}</td><td>${madm[i].Tendm}</td></tr>
                                    `);
                }
            }
        }
    });
    function hide_sugg(idSugg) {
        document.getElementById(idSugg).classList.add("d-none");
    }
    function madmChooseItem(item) {
        hide_sugg("list-madm-sugg");
        var addItem = JSON.parse(decodeURIComponent(item));
        var madmDTO = {
            Matk: addItem.Matk,
            Madm: addItem.Madm,
            Tendm: addItem.Tendm,
            Donvi: addItem.Donvi,
            Dgban: 0,
            TonTDv1: addItem.TonTDv1,
            PtChietkhau: 0,
            PtThue: 0,
        }
        document.getElementById('input-madm').value = JSON.parse(decodeURIComponent(item)).Madm;
        document.getElementById('mahh').value = JSON.parse(decodeURIComponent(item)).Matk;
        document.getElementById('tendm').value = JSON.parse(decodeURIComponent(item)).Tendm;
        document.getElementById('t-dgb').value = 0;
        document.getElementById('t-dgx').value = 0;
        document.getElementById('dgb').value = 0;
        document.getElementById('dgx').value = 0;
        document.getElementById('dvt').value = JSON.parse(decodeURIComponent(item)).Donvi;
        document.getElementById('t-tdk-gt').value = 0;
        document.getElementById('t-tdk-sl').value = 0;
        document.getElementById('tdk-gt').value = 0;
        document.getElementById('tdk-sl').value = 0;
    }
    function onDelete() {
        var grid = document.getElementById("grid");
        var row = grid.getElementsByClassName("dx-row-focused")[0];
        if (row == null) {
                alert("Hãy chọn hàng cần xóa")
        } else {
            var deleteLink = row.getElementsByClassName("dx-link-delete")[0];
            deleteLink.click();
        }
    }


    function onEdit() {
        var grid = document.getElementById("grid");
        var row = grid.getElementsByClassName("dx-row-focused")[0];
        if (row == null) {
                alert("Hãy chọn hàng cần sửa")
        } else {
            $('#btnAdd').click();
            document.getElementById('edit-madm').value = row.getElementsByTagName('td')[0].textContent;
            document.getElementById('input-madm').setAttribute('readonly', true);
            document.getElementById('input-madm').value = row.getElementsByTagName('td')[0].textContent;
            document.getElementById('mahh').value = row.getElementsByTagName('td')[2].textContent;
            document.getElementById('tendm').value = row.getElementsByTagName('td')[1].textContent;
            document.getElementById('dgb').value = row.getElementsByTagName('td')[24].textContent;
            document.getElementById('t-dgx').value = row.getElementsByTagName('td')[14].textContent;
            document.getElementById('t-dgb').value = row.getElementsByTagName('td')[24].textContent;
            document.getElementById('dgx').value = row.getElementsByTagName('td')[14].textContent;
            document.getElementById('dvt').value = row.getElementsByTagName('td')[6].textContent;
            document.getElementById('t-tdk-gt').value = 0;
            document.getElementById('t-tdk-sl').value = 0;
            document.getElementById('tdk-gt').value = 0;
            document.getElementById('tdk-sl').value = 0;
            formatAll();
        }
    }
    function submitModal() {
        var eMadm = document.getElementById("edit-madm").value ? document.getElementById("edit-madm").value : null;
        if (eMadm == null) { 
            console.log("themdm");
            var madmDTO = {
                Madm: document.getElementById('input-madm').value,
                Matk: document.getElementById('mahh').value,
                Tendm: document.getElementById('tendm').value,
                Donvi: document.getElementById('dvt').value,
                Dgban: document.getElementById('dgb').value,
                Dgxuat: document.getElementById('dgx').value,
            }
            $.ajax({
                url: '@Url.Action("Post", "Ktdms")',
                type: 'POST',
                data: madmDTO,
                success: function (result) {
                    alert("Tạo thành công!");
                    $('#btnClose').click();
                    resetModal();
                    //location.reload();
                }
            });
        } else {
            console.log("suadm");
            var madmDTO = {
                Madm: document.getElementById('edit-madm').value,
                Matk: document.getElementById('mahh').value,
                Tendm: document.getElementById('tendm').value,
                Donvi: document.getElementById('dvt').value,
                Dgban: document.getElementById('dgb').value,
                Dgxuat: document.getElementById('dgx').value,
            }
            $('#btnClose').click();
            resetModal();
        }

    }


    function OpenMenu(e) {
        if (e.rowIndex != -1) {
            if (!e.items) e.items = [];
            const contextMenuItem = [
                {
                    text: "Sửa",
                    onItemClick: function (args) {
                        var grid = document.getElementById("grid");
                        var row = grid.getElementsByClassName("dx-row-focused")[0];
                        $('#btnAdd').click();
                        document.getElementById('edit-madm').value = row.getElementsByTagName('td')[0].textContent;
                        document.getElementById('input-madm').setAttribute('readonly', true);
                        document.getElementById('input-madm').value = row.getElementsByTagName('td')[0].textContent;
                        document.getElementById('mahh').value = row.getElementsByTagName('td')[2].textContent;
                        document.getElementById('tendm').value = row.getElementsByTagName('td')[1].textContent;
                        document.getElementById('t-dgb').value = row.getElementsByTagName('td')[24].textContent;
                        document.getElementById('t-dgx').value = row.getElementsByTagName('td')[14].textContent;
                        document.getElementById('dgb').value = row.getElementsByTagName('td')[24].textContent;
                        document.getElementById('dgx').value = row.getElementsByTagName('td')[14].textContent;
                        document.getElementById('dvt').value = row.getElementsByTagName('td')[6].textContent;
                        document.getElementById('t-tdk-gt').value = 0;
                        document.getElementById('t-tdk-sl').value = 0;
                        document.getElementById('tdk-gt').value = 0;
                        document.getElementById('tdk-sl').value = 0;
                        formatAll();
                        console.log('sua');
                    }
                },
                {
                    text: "Xóa",
                    onItemClick: function (args) {
                        var grid = document.getElementById("grid");
                        var row = grid.getElementsByClassName("dx-row-focused")[0];
                        var deleteLink = row.getElementsByClassName("dx-link-delete")[0];
                        deleteLink.click();
                    }
                },
            ];
            contextMenuItem.forEach((item) => {
                e.items.push(item);
            })
        }
    }
    document.addEventListener('click', function (event) {
        if (!document.getElementById("list-madm-sugg").contains(event.target) && !document.getElementById("list-madm-sugg").classList.contains("d-none")) {
            hide_sugg("list-madm-sugg");
        }
        if (!document.getElementById("btnAdd").contains(event.target) && !document.getElementById("exampleModal").contains(event.target) && (!document.getElementById("btnEdit").contains(event.target)) && (!document.getElementsByClassName("dx-menu-item-text")[0]?.contains(event.target))) {
            resetModal();
        }
    });
    function onRowInserted(e) {
        e.component.navigateToRow(e.key);
        e.component.option("focusedRowKey", e.key);
    }

    function resetModal(){
        document.getElementById('edit-madm').value = null;
        document.getElementById('input-madm').value = null;
        document.getElementById('input-madm').removeAttribute('readonly');
        document.getElementById('mahh').value = null;
        document.getElementById('tendm').value = null;
        document.getElementById('t-dgb').value = null;
        document.getElementById('t-dgx').value = null;
        document.getElementById('dgb').value = null;
        document.getElementById('dgx').value = null;
        document.getElementById('dvt').value = null;
        document.getElementById('t-tdk-gt').value = null;
        document.getElementById('t-tdk-sl').value = null;
        document.getElementById('tdk-gt').value = null;
        document.getElementById('tdk-sl').value = null;
        console.log('reset');
    }

    function formatFromNumber(int) {
        var formattedNumber = new Intl.NumberFormat('en-US').format(int);
        if (formattedNumber == "NaN") formattedNumber = 0;
        return formattedNumber;
    }

    function convertNumToText(numberString) {
        var cleanedNumberString = numberString.replace(/,/g, '');
        if (numberString == "NaN") cleanedNumberString = 0;
        return cleanedNumberString;
    }
    function formatAll(){
        document.getElementById('t-dgb').value = formatFromNumber(convertNumToText(document.getElementById('t-dgb').value));
        document.getElementById('t-dgx').value = formatFromNumber(convertNumToText(document.getElementById('t-dgx').value));
        document.getElementById('dgb').value = convertNumToText(document.getElementById('t-dgb').value);
        document.getElementById('dgx').value = convertNumToText(document.getElementById('t-dgx').value);
        document.getElementById('t-tdk-gt').value = formatFromNumber(convertNumToText(document.getElementById('t-tdk-gt').value));
        document.getElementById('t-tdk-sl').value = formatFromNumber(convertNumToText(document.getElementById('t-tdk-sl').value));
        document.getElementById('tdk-gt').value = convertNumToText(document.getElementById('t-tdk-gt').value);
    }
    document.getElementById('exampleModal').onkeypress = function (e) {
        var inputTo;
        var input = document.getElementById("tendm");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("mahh");
                inputTo.focus();
            }
        });
        input = document.getElementById("mahh");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("t-dgb");
                inputTo.focus();
            }
        });
        input = document.getElementById("t-dgb");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("t-dgx");
                inputTo.focus();
            }
        });
        input = document.getElementById("t-dgx");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("dvt");
                inputTo.focus();
            }
        });
        input = document.getElementById("dvt");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("t-tdk-gt");
                inputTo.focus();
            }
        });
        input = document.getElementById("t-tdk-gt");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("t-tdk-sl");
                inputTo.focus();
            }
        });
    }
</script>
