@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebAccountant.ModelsBase.Ktdtpn
@{
    Html.RenderPartial("../Home/Header");
}
@{
    var json = Context.Session.GetString("permission");
    WebAccountant.ModelsBase.KtUserTable userPermission = new WebAccountant.ModelsBase.KtUserTable()
            {
                MaUser = "",
                Tenbang = "KTDTPN",
                ChoSua = "F",
                ChoThem = "F",
                ChoXoa = "F",
                Trangthai = 1,
            };
    if (json != null)
    {
        userPermission = Newtonsoft.Json.JsonConvert.DeserializeObject<List<WebAccountant.ModelsBase.KtUserTable>>(json).Where(s => s.Tenbang.Trim() == "KTDTPN").FirstOrDefault();
    }
}
<div class="text-center">
    <div class="home-container">
        @Html.Partial("../Home/SideBar")
        <div class="right-bar-home content">
            @*Navbar Here*@
            @* <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
                <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Danh sách</a>
                            </li>
                        </ul>
                        </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav> *@

            @*Modal add*@
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="color: #119583;" id="exampleModalLabel">Thêm Khách Hàng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                        </div>
                        <div class="modal-body">
                            <form id="add-dtpn" method="post" asp-controller="Ktdtpns" asp-action="Post">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="mb-3 text-start">
                                            <label for="makh" class="col-form-label">Mã đối tượng pháp nhân:</label>
                                            <input type="text" class="form-control" asp-for="Madtpn" id="makh">
                                            <span id="valid-makh" class="text-danger"></span>
                                        </div> 
                                        <div class="mb-3 text-start">
                                            <label for="msdn" class="col-form-label">Mã số doanh nghiệp:</label>
                                            <input type="text" class="form-control" asp-for="MsDn" id="msdn">
                                            <span id="valid-msdn" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="dt" class="col-form-label">Điện thoại :</label>
                                            <input type="text" class="form-control" asp-for="Dienthoai" id="dt">
                                            <span id="valid-dt" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="mb-3 text-start">
                                            <label for="tenkh" class="col-form-label">Tên đối tượng pháp nhân:</label>
                                            <input type="text" class="form-control" asp-for="Tendtpn" id="tenkh">
                                            <span id="valid-tenkh" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="diachi" class="col-form-label">Địa chỉ:</label>
                                            <input type="text" class="form-control" asp-for="Diachi" id="diachi">
                                            <span id="valid-diachi" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="diachigh" class="col-form-label">Địa chỉ giao hàng:</label>
                                            <input type="text" class="form-control" asp-for="DiachiGh" id="diachigh">
                                            <span id="valid-diachigh" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary" onclick="submitModal()">Thêm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @*Modal edit*@
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
                <div class="modal-dialog  modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="color: #119583;" id="editLabel">Sửa Khách Hàng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                        </div>
                        <div class="modal-body">
                            <form id="edit-dtpn" method="post" asp-controller="Ktdtpns" asp-action="Put">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="mb-3 text-start">
                                            <label for="e-makh" class="col-form-label">Mã đối tượng pháp nhân:</label>
                                            <input type="text" class="form-control" asp-for="Madtpn" id="e-makh" readonly>
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="e-msdn" class="col-form-label">Mã số doanh nghiệp:</label>
                                            <input type="text" class="form-control" asp-for="MsDn" id="e-msdn">
                                            <span id="e-valid-msdn" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="e-dt" class="col-form-label">Điện thoại :</label>
                                            <input type="text" class="form-control" asp-for="Dienthoai" id="e-dt">
                                            <span id="e-valid-dt" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="mb-3 text-start">
                                            <label for="e-tenkh" class="col-form-label">Tên đối tượng pháp nhân:</label>
                                            <input type="text" class="form-control" asp-for="Tendtpn" id="e-tenkh">
                                            <span id="e-valid-tenkh" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="e-diachi" class="col-form-label">Địa chỉ:</label>
                                            <input type="text" class="form-control" asp-for="Diachi" id="e-diachi">
                                            <span id="e-valid-diachi" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="e-diachigh" class="col-form-label">Địa chỉ giao hàng:</label>
                                            <input type="text" class="form-control" asp-for="DiachiGh" id="e-diachigh">
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary" onclick="esubmitModal()">Thêm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @*Data Here*@
            @(Html.DevExtreme().DataGrid<WebAccountant.ModelsBase.Ktdtpn>()
                .DataSource(ds => ds.Mvc()
                .Controller("Ktdtpns")
                .LoadAction("Get")
                .UpdateAction("Put")
                .DeleteAction("Delete")
                .Key("Madtpn")
                )
                .RemoteOperations(true).FocusedRowEnabled(true)
                .Columns(columns =>
                {

                    columns.AddFor(m => m.Madtpn).Caption("Mã đối tượng").Fixed(true).AllowEditing(false);

                    columns.AddFor(m => m.Tendtpn).Caption("Tên đối tượng").Fixed(true);

                    columns.AddFor(m => m.Diachi).Caption("Địa chỉ");

                    columns.AddFor(m => m.DiachiGh).Caption("Địa chỉ giao hàng");

                    columns.AddFor(m => m.MsDn).Caption("Mã số doanh nghiệp");

                    columns.AddFor(m => m.LienHe).Caption("Liên hệ");

                    columns.AddFor(m => m.Dienthoai).Caption("Điện thoại");

                    columns.AddFor(m => m.Tknh);

                    columns.AddFor(m => m.Tentknh);

                    columns.AddFor(m => m.Matt);

                    columns.AddFor(m => m.Tentt);

                    columns.AddFor(m => m.Manhom);

                    columns.AddFor(m => m.Tennhom);

                    columns.AddFor(m => m.Danhdau);

                    columns.AddFor(m => m.Trangthai).Caption("Trạng thái");

                    columns.AddFor(m => m.Fax);

                    columns.AddFor(m => m.Manhom1);

                    columns.AddFor(m => m.Mucgia);

                    columns.AddFor(m => m.PtCk);

                    columns.AddFor(m => m.Tennhom1);

                    columns.AddFor(m => m.Nguoidaidien);

                    columns.AddFor(m => m.Email);

                    columns.AddFor(m => m.Kieudoituong);

                    columns.AddFor(m => m.NoMax).Caption("Số Max"); ;

                    columns.AddFor(m => m.Songaythanhtoan).Caption("Số ngày thanh toán"); ;

                    columns.AddFor(m => m.Tkco);

                    columns.AddFor(m => m.Tkno);

                    columns.AddFor(m => m.Emailcc);

                    columns.AddFor(m => m.Mactyme);

                    columns.AddFor(m => m.Tenctyme);

                    columns.AddFor(m => m.Lctg);

                    columns.AddFor(m => m.MacosoDqg);

                    columns.AddFor(m => m.MaVung).Caption("Mã vùng");

                    columns.AddFor(m => m.Tenvung).Caption("Tên vùng");

                    columns.AddFor(m => m.IdUpdate);
                })
                .ColumnAutoWidth(true).AllowColumnResizing(true).ColumnResizingMode(ColumnResizingMode.Widget).FilterRow(ft => ft.Visible(true))
                .ShowBorders(true)
                .RowAlternationEnabled(true)
                .Height(750)
                .OnFocusedRowChanged("focusRow")
                .Editing(e =>
                {
                    e.Mode(GridEditMode.Batch)
                    .AllowUpdating(userPermission.ChoSua.Trim() == "T").UseIcons(true)
                    .AllowDeleting(userPermission.ChoXoa.Trim() == "T");
                    e.SelectTextOnEditStart(true);
                    e.StartEditAction(GridStartEditAction.DblClick);
                })
                .Paging(paging => paging.PageSize(15))
                .Pager(pager =>
                {
                    pager.Visible(true);
                    pager.DisplayMode(GridPagerDisplayMode.Compact);
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new JS("[10, 15, 25, 40]"));
                    pager.ShowInfo(true);
                    pager.ShowNavigationButtons(true);
                })
                .OnRowInserted("onRowInserted")
                .OnContextMenuPreparing("OpenMenu").ID("grid")
                )
            <div class="footer-data d-flex justify-content-start">
                @if (userPermission.ChoThem.Trim() == "T")
                {
                    <button class="btn btn-primary width-100" data-bs-toggle="modal" id="btnAdd" data-bs-target="#exampleModal">Thêm</button>
                }
                @* <button class="btn btn-primary width-100" type="button" id="btnEdit" onclick="onEdit()">Sửa</button> *@
                @if (userPermission.ChoXoa.Trim() == "T")
                {
                    <button class="btn btn-primary width-100" type="button" onclick="onDelete()">Xóa</button>
                }
                @if (userPermission.ChoSua.Trim() == "T")
                {
                    <button class="btn btn-primary width-100" type="button" onclick="onEdit()">Sửa</button>
                    <button data-bs-toggle="modal" type="button" id="btnEdit" data-bs-target="#editModal" hidden></button>
                }
                @if (userPermission.ChoXoa.Trim() == "T" || userPermission.ChoSua.Trim() == "T")
                {
                    <button class="btn btn-primary width-100" type="button" onclick="saveGrid()">Lưu</button>
                    <button class="btn btn-primary width-100" type="button" onclick="redoGrid()">Hoàn tác</button>
                }
                @* <button class="btn btn-primary width-100" data-bs-toggle="modal" id="btnAdd" data-bs-target="#exampleModal">Thêm</button> *@
                @* <button class="btn btn-primary width-100" type="button" onclick="onEdit()">Sửa</button> *@
@*                 <button class="btn btn-primary width-100" type="button" onclick="onDelete()">Xóa</button>
                <button class="btn btn-primary width-100" type="button" onclick="saveGrid()">Lưu</button>
                <button class="btn btn-primary width-100" type="button" onclick="redoGrid()">Hoàn tác</button> *@
            </div>
        </div>
    </div>
</div>

<script>
    var key = "";
    function focusRow(e) {
        key = e.row.key;
        //console.log(key);
    }
    function saveGrid() {
        document.getElementsByClassName("dx-datagrid-save-button")[0].click();
    }
    function redoGrid() {
        document.getElementsByClassName("dx-datagrid-cancel-button")[0].click();
    }
    var kh = [];
    $.ajax({
        url: '@Url.Action("Get", "Ktdtpns")',
        type: 'GET',
        success: function (result) {
            if (result.data.length > 0) {
                kh = result.data;
            }
        }
    });
    function submitModal() {
        var makhSubmit = document.getElementById('makh').value;
        var msdnSubmit = document.getElementById('msdn').value;
        var dtSubmit = document.getElementById('dt').value;
        var tenkhSubmit = document.getElementById('tenkh').value;
        var dcSubmit = document.getElementById('diachi').value;
        var dcghSubmit = document.getElementById('diachigh').value;

        if (makhSubmit == "") {
            document.getElementById('valid-makh').textContent = "Không được trống!";
            return;
        } else document.getElementById('valid-makh').textContent = "";
        if (msdnSubmit == "") {
            document.getElementById('valid-msdn').textContent = "Không được trống!";
            return;
        } else document.getElementById('valid-msdn').textContent = "";
        if (dtSubmit == "") {
            document.getElementById('valid-dt').textContent = "Không được trống!";
            return;
        } else document.getElementById('valid-msdn').textContent = "";
        if (tenkhSubmit == "") {
            document.getElementById('valid-tenkh').textContent = "Không được trống!";
            return;
        } else document.getElementById('valid-tenkh').textContent = "";
        /*if (dcSubmit == "") {
            document.getElementById('valid-diachi').textContent = "Không được trống!";
            return;
        } else document.getElementById('valid-diachi').textContent = "";*/
        for (let i = 0; i < kh.length; i++) {
            if (kh[i].Madtpn == makhSubmit) {
                document.getElementById('valid-makh').textContent = "Bị trùng!";
                return;
            }
        }
        alert("Tạo đối tượng pháp nhân thành công!")
        document.getElementById('add-dtpn').submit();
    }
    function esubmitModal() {
        var msdnSubmit = document.getElementById('e-msdn').value;
        var dtSubmit = document.getElementById('e-dt').value;
        var tenkhSubmit = document.getElementById('e-tenkh').value;
        var dcSubmit = document.getElementById('e-diachi').value;
        var dcghSubmit = document.getElementById('e-diachigh').value;

        if (msdnSubmit == "") {
            document.getElementById('e-valid-msdn').textContent = "Không được trống!";
            return;
        } else document.getElementById('e-valid-msdn').textContent = "";
        if (dtSubmit == "") {
            document.getElementById('e-valid-dt').textContent = "Không được trống!";
            return;
        } else document.getElementById('e-valid-msdn').textContent = "";
        if (tenkhSubmit == "") {
            document.getElementById('e-valid-tenkh').textContent = "Không được trống!";
            return;
        } else document.getElementById('e-valid-tenkh').textContent = "";
        /*if (dcSubmit == "") {
            document.getElementById('e-valid-diachi').textContent = "Không được trống!";
            return;
        } else document.getElementById('e-valid-diachi').textContent = "";*/
        
        alert("Sửa đối tượng pháp nhân thành công!")
        document.getElementById('edit-dtpn').submit();
    }
    function onDelete() {
        var grid = document.getElementById("grid");
        var row = grid.getElementsByClassName("dx-row-focused")[0];
        if (row == null) {
            alert("Hãy chọn hàng cần xóa")
        } else {
            var deleteLink = row.getElementsByClassName("dx-link-delete")[0];
            deleteLink.click();
        }
    }
    function onEdit() {
        var row = document.getElementsByClassName("dx-row-focused")[0];
        if (row == null) {
            alert("Hãy chọn hàng cần sửa")
        } else {
            var index = 0;
            for (let i = 0; i < kh.length; i++) {
                if (key == kh[i].Madtpn) {
                    index = i;
                    break;
                }
            }
            document.getElementById('e-makh').value = kh[index].Madtpn;
            document.getElementById('e-msdn').value = kh[index].MsDn;
            document.getElementById('e-dt').value = kh[index].Dienthoai;
            document.getElementById('e-diachi').value = kh[index].Diachi;
            document.getElementById('e-tenkh').value = kh[index].Tendtpn;
            document.getElementById('e-diachigh').value = kh[index].DiachiGh;
            document.getElementById("e-tenkh").select();
            $('#btnEdit').click();
        }
    }
    function OpenMenu(e) {
        if (e.rowIndex != -1) {
            if (!e.items) e.items = [];
            const contextMenuItem = [
                //{
                //    text: "Sửa",
                //    onItemClick: function (args) {
                //        $('#btnAdd').click();
                //    }
                //},
                {
                    text: "Xóa",
                    onItemClick: function (args) {
                        var grid = document.getElementById("grid");
                        var row = grid.getElementsByClassName("dx-row-focused")[0];
                        var deleteLink = row.getElementsByClassName("dx-link-delete")[0];
                        deleteLink.click();
                    }
                },
            ];
            contextMenuItem.forEach((item) => {
                e.items.push(item);
            })
        }
    }
    function onRowInserted(e) {
        e.component.navigateToRow(e.key);
        e.component.option("focusedRowKey", e.key);
    }
    document.getElementById('exampleModal').onkeypress = function (e) {
        var inputTo;
        var input = document.getElementById("makh");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("tenkh");
                inputTo.select();
            }
        }); 
        input = document.getElementById("tenkh");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("msdn");
                inputTo.select();
            }
        });
        input = document.getElementById("msdn");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("diachi");
                inputTo.select();
            }
        });
        input = document.getElementById("diachi");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("dt");
                inputTo.select();
            }
        });
        input = document.getElementById("dt");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("diachigh");
                inputTo.select();
            }
        });
    }
    document.getElementById('editModal').onkeypress = function (e) {
        var inputTo;
        var input = document.getElementById("e-tenkh");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-msdn");
                inputTo.select();
            }
        });
        input = document.getElementById("e-msdn");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-diachi");
                inputTo.select();
            }
        });
        input = document.getElementById("e-diachi");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-dt");
                inputTo.select();
            }
        });
        input = document.getElementById("e-dt");
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                inputTo = document.getElementById("e-diachigh");
                inputTo.select();
            }
        });
    }
</script>