@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Html.RenderPartial("../Admin/AdminHeader");
}
<div>
    <div class="home-container">
        ADMIN NE
        @*form list data*@


        <div class="buttons d-flex justify-content-between mar-5">
            <button class="btn btn-success t-s-12 height-30" id="addAccount" onclick="themTaiKhoan()" type="button">Thêm tài khoản</button>
        </div>
    </div>
</div>
